@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

  body{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif
 }
header h1{
    margin-top: 0;
}
.triadeimg{
 margin-left: 150px;
margin-right: 100px;

}
.videocontainer{
  display: flex;
  justify-content: center; 
  max-width: 100%; /* Garante que o vídeo fique responsivo */
  height: auto;
}

    .cabeçalho{
    background-color: rgba(219, 182, 182, 0.404);
   
}

     .fundodsite{
     background-color: rgb(134, 111, 111);
}

       .cor3{
       color: rgb(14, 14, 104);
}

      .textfoot{
      font-size: 11px;
      text-align: center;
}

    h1, h2{
    color: peachpuff;
    text-align: center;
    text-decoration: underline;

     }

     p::first-letter{
        color: rgb(43, 7, 7);
        font-size: 200%;
     }
     p, label, li, table{
      color: rgb(0, 0, 0);
     }
     table, th, td{
        border: 2px, solid black;
        border-collapse: collapse; 
        
     }

     
    